.logo-container {
  margin: 0 auto;
  padding-left: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--almost-white);
}

.logo-container .logo {
  display: inline-block;
  color: #333;
  border-left: 0.35rem solid #333;
  padding-left: 0.7rem;
}

@media screen and (max-width: 850px) {
  .logo-container {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .logo-container {
    padding-left: 2.5rem;
  }
}
