.form .overall {
  margin-bottom: 1.5rem;
}

.form .outer-container {
  display: flex;
  flex-direction: row;
}

.form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--almost-white);
  border-radius: 5px;
  padding: 0 1.6rem;
  padding-top: 0.75rem;
  padding-bottom: 2rem;
  margin-right: 0.625rem;
}

.form .info {
  font-size: 0.8rem;
  color: var(--medium-grey);
  margin-bottom: 0.375rem;
}

.form .info * {
  display: inline-block;
}

.form .info .date {
  margin-right: 0.3rem;
}

.form .team {
  cursor: pointer;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.form .team .name {
  margin-right: 0.3rem;
}

.form .team .logo {
  width: 1.1rem;
  height: 1.1rem;
}

.form .result {
  position: relative;
}

.form .result .color {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.form .result .score {
  padding-left: 0.5rem;
}

.form .result .color.won {
  background-color: green;
}
.form .result .color.lost {
  background-color: red;
}
.form .result .color.draw {
  background-color: var(--light-grey);
}

.form span.units {
  font-size: 0.7em;
  margin: 0 6px 0 3px;
}

@media screen and (max-width: 850px) {
  .form {
    grid-column: 1 / 2 !important;
  }

  .form .body {
    overflow: auto;
  }

  .form .outer-container {
    display: flex;
    flex-direction: column;
  }

  .form .outer-container .container {
    flex-direction: row;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
  }

  .form .outer-container .container .info {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 1.5rem;
  }

  .form .outer-container .container .team {
    margin: 0;
    margin-right: auto;
  }
}
