.main-content {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border: 1px solid var(--almost-white);
  border-radius: 0.3rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  overflow: hidden;
}

.card.full {
  grid-column: 1 / 3;
  min-height: 18rem;
  max-height: 24rem;
}

.card.half {
  min-height: 16rem;
  max-height: 20rem;
}

.card .header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--almost-white);
}
.card .header .title {
  display: flex;
  align-items: center;
}

.card .header .title span {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.card .body {
  padding: 1rem 2rem;
  overflow: hidden;
}

.card .body:hover {
  overflow: auto;
}

table {
  text-align: center;
}

table h4 {
  font-size: 0.9rem;
}

table tbody tr > * {
  padding: 2px 4px;
}

table tbody th {
  background-color: var(--almost-white);
}

.landing .step {
  margin-bottom: 1.25rem;
}

.landing .contact {
  color: var(--medium-grey);
}

.landing .contact a {
  margin-left: 0.35rem;
}

.landing .contact a:hover {
  color: var(--dark-grey);
}
