.user-nav {
  padding: 1rem 0;
  padding-left: 4rem;
  min-height: 4.5rem;
  position: relative;
}

.user-img-container .user-img {
  cursor: pointer;
  width: 2.5rem;
  border-radius: 50%;
}

.user-img-container .user-img:hover {
  opacity: 0.9;
}

.user-modal.hide {
  display: none;
}

.user-modal {
  display: block;
  position: absolute;
  top: 1rem;
  left: 8rem;
  width: max-content;

  background: #fff;
  border: 1px solid #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  padding: 1rem 1.5rem;
  z-index: 30;
}

.user-modal .btn-signout {
  margin-right: 0.5rem;
}

@media screen and (max-width: 850px) {
  .user-nav {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .user-nav {
    padding-left: 2.5rem;
  }
}
