.overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay .spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay.hide {
  display: none;
}

.overlay.show {
  display: block;
}
