/* Standings */
.standings tbody tr > * {
  min-width: 4rem;
}

.standings .logo {
  padding: 0;
  width: 1rem;
  margin-right: 0.6rem;
}

.standings .team {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
  padding-left: 1.25rem;
}

.standings tbody th {
  top: -1rem;
  position: sticky;
}

@media screen and (max-width: 800px) {
  .standings .body {
    overflow: auto;
  }

  .standings tbody tr > * {
    min-width: 3rem;
  }

  .standings .team {
    max-width: 12rem;
    padding-left: 0.5rem;
  }

  .standings .team h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 550px) {
  .standings {
    max-height: none !important;
  }
  .standings .team {
    max-width: 10rem;
  }
}
