.sidebar {
  width: 100%;
  max-width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
}

.sidebar:hover {
  overflow: auto;
}

.sidebar.modal-opened {
  overflow: visible;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    transform: translateX(calc(-100% + 3rem));
    transition: transform 0.5s;
    overflow: auto;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}
